#set ($nameTemplate = ${this.mangleTypeIdentifier($template.getName())})
#set ($nameTemplateLowerCase = ${this.toLowerCase($nameTemplate)})
package ${this.mangle($template.getPackageName())}.${nameTemplateLowerCase}.client;

import ${this.mangle($template.getPackageName())}.${nameTemplateLowerCase}.model.${nameTemplate}Model;
import io.smallrye.mutiny.Uni;
import org.jboss.logging.Logger;

public interface ${nameTemplate}Client {

    Uni<${nameTemplate}Model> getById(Long id);

    Uni<${nameTemplate}Model> create(${nameTemplate}Model model);

    Uni<${nameTemplate}Model> update(${nameTemplate}Model model);

    Uni<Boolean> deleteById(Long id);
}