package ${template.getPackageNameFormatted()}.${template.getProductNameFormattedLowerCase()}.${template.getNameFormattedLowerCase()}.client.rest;

import ${template.getPackageName()}.${template.getProductNameFormattedLowerCase()}.${template.getNameFormattedLowerCase()}.client.${template.getNameFormatted()}Client;
import ${template.getPackageName()}.${template.getProductNameFormattedLowerCase()}.${template.getNameFormattedLowerCase()}.client.rest.microprofile.${template.getNameFormatted()}RestClient;
import ${template.getPackageName()}.${template.getProductNameFormattedLowerCase()}.${template.getNameFormattedLowerCase()}.model.${template.getNameFormatted()}Model;
import io.smallrye.mutiny.Uni;
import org.eclipse.microprofile.rest.client.inject.RestClient;
import org.jboss.logging.Logger;

import jakarta.enterprise.context.ApplicationScoped;
import jakarta.inject.Inject;

@ApplicationScoped
public class ${template.getNameFormatted()}RestClientWrapper implements ${template.getNameFormatted()}Client {

    @Inject
    Logger log;

    @Inject
    @RestClient
    ${template.getNameFormatted()}RestClient service;

    @Override
    public Uni<${template.getNameFormatted()}Model> getById(Long id) {
        log.debugf("${template.getNameFormatted()}RestClientWrapper.getById %d", id);
        return service.getById(id);
    }

    @Override
    public Uni<${template.getNameFormatted()}Model> create(${template.getNameFormatted()}Model model) {
        log.debug("${template.getNameFormatted()}RestClientWrapper.create");
        return service.create(model);
    }

    @Override
    public Uni<${template.getNameFormatted()}Model> update(${template.getNameFormatted()}Model model) {
        log.debugf("${template.getNameFormatted()}RestClientWrapper.update %d", model.getId());
        return service.update(model);
    }

    @Override
    public Uni<Boolean> deleteById(Long id) {
        log.debugf("${template.getNameFormatted()}RestClientWrapper.deleteById %d", id);
        return service.deleteById(id);
    }
}