#set ($nameTemplate = ${this.mangleTypeIdentifier($template.getName())})
#set ($nameProduct = ${this.mangleTypeIdentifier($template.getProductName())})
#set ($nameProductTemplate = ${nameProduct}+${nameTemplate})
#set ($nameTemplateLowerCase = ${this.toLowerCase($nameTemplate)})
#set ($nameProductLowerCase = ${this.toLowerCase($nameProduct)})
#set ($nameProductTemplateLowerCase = ${nameProductLowerCase}+${nameTemplateLowerCase})
package ${this.mangle($template.getPackageName())}.${nameProductLowerCase}.${nameTemplateLowerCase}.client.rest.microprofile;

import io.smallrye.mutiny.Uni;
import ${this.mangle($template.getPackageName())}.${nameProductLowerCase}.${nameTemplateLowerCase}.model.${nameProductTemplate}Model;
import org.eclipse.microprofile.rest.client.annotation.RegisterClientHeaders;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;
import jakarta.enterprise.context.ApplicationScoped;
import jakarta.ws.rs.*;
import jakarta.ws.rs.core.MediaType;

@ApplicationScoped
@RegisterRestClient(configKey = "${nameProductTemplateLowerCase}-api")
@RegisterClientHeaders
@Path("/${nameProductTemplateLowerCase}s}")
@Produces(MediaType.APPLICATION_JSON)
@Consumes(MediaType.APPLICATION_JSON)
public interface ${nameProductTemplate}RestClient {

    @GET
    @Path("/getById/{id}")
    Uni<${nameProductTemplate}Model> getById(@PathParam("id") Long id);

    @POST
    @Path("/create")
    Uni<${nameProductTemplate}Model> create(${nameProductTemplate}Model model);

    @PUT
    @Path("/update")
    Uni<${nameProductTemplate}Model> update(${nameProductTemplate}Model model);

    @DELETE
    @Path("/deleteById/{id}")
    Uni<Boolean> deleteById(@PathParam("id") Long id);
}