#set ($nameTemplate = ${this.mangleTypeIdentifier($template.getName())})
#set ($nameProduct = ${this.mangleTypeIdentifier($template.getProductName())})
#set ($nameProductTemplate = ${nameProduct}+${nameTemplate})
#set ($nameTemplateLowerCase = ${this.toLowerCase($nameTemplate)})
#set ($nameProductLowerCase = ${this.toLowerCase($nameProduct)})
#set ($nameProductTemplateLowerCase = ${nameProductLowerCase}+${nameTemplateLowerCase})
package ${this.mangle($template.getPackageName())}.${nameProductLowerCase}.${nameTemplateLowerCase}.api;

import ${this.mangle($template.getPackageName())}.${nameProductLowerCase}.${nameTemplateLowerCase}.model.${nameProductTemplate}Model;
import ${this.mangle($template.getPackageName())}.${nameProductLowerCase}.${nameTemplateLowerCase}.service.${nameProductTemplate}Service;
import io.smallrye.mutiny.Uni;
import org.jboss.logging.Logger;

import jakarta.annotation.security.RolesAllowed;
import jakarta.inject.Inject;
import jakarta.validation.Valid;
import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Context;
import jakarta.ws.rs.core.MediaType;
import jakarta.ws.rs.core.UriInfo;

@Path("/${nameProductTemplateLowerCase}s")
@Consumes(MediaType.APPLICATION_JSON)
@Produces(MediaType.APPLICATION_JSON)
public class ${nameProductTemplate}Api {

    @Inject
    Logger log;

    @Context
    UriInfo uriInfo;

    @Inject
    ${nameProductTemplate}Service service;

    @GET
    @Path("/getById/{id}")
    @RolesAllowed({"ms_client"})
    public Uni<${nameProductTemplate}Model> getById(@PathParam("id") long id) {
        log.debugf("${nameProductTemplate}Api.getById %d ", id);
        return service.getById(id);
    }

    @DELETE
    @Path("/deleteById/{id}")
    @RolesAllowed({"ms_client"})
    public Uni<Boolean> deleteById(@PathParam("id") Long id) {
        log.debugf("${nameProductTemplate}Api.deleteById %d ", id);
        return service.deleteById(id);
    }

   @POST
   @Path("/create")
   @RolesAllowed({"ms_client"})
   public Uni<${nameProductTemplate}Model> create(@Valid ${nameProductTemplate}Model ${this.mangleObjectIdentifier($nameProductTemplate)}Model) {
        log.debug("${nameProductTemplate}Api.create");
        return service.create(${this.mangleObjectIdentifier($nameProductTemplate)}Model);
   }

   @PUT
   @Path("/update")
   @RolesAllowed({"ms_client"})
   public Uni<${nameProductTemplate}Model> update(@Valid ${nameProductTemplate}Model ${this.mangleObjectIdentifier($nameProductTemplate)}Model) {
        log.debug("${nameProductTemplate}Api.update");
        return service.update(${this.mangleObjectIdentifier($nameProductTemplate)}Model);
   }
}