#set ($nameTemplate = ${this.mangleTypeIdentifier($template.getName())})
#set ($nameProduct = ${this.mangleTypeIdentifier($template.getProductName())})
#set ($nameProductTemplate = ${nameProduct}+${nameTemplate})
#set ($nameTemplateLowerCase = ${this.toLowerCase($nameTemplate)})
#set ($nameProductLowerCase = ${this.toLowerCase($nameProduct)})
#set ($nameProductTemplateLowerCase = ${nameProductLowerCase}+${nameTemplateLowerCase})
package ${this.mangle($template.getPackageName())}.${nameProductLowerCase}.${nameTemplateLowerCase}.repository;

import io.smallrye.mutiny.Uni;
import ${this.mangle($template.getPackageName())}.${nameProductLowerCase}.${nameTemplateLowerCase}.entity.${nameProductTemplate}Entity;

public interface ${nameProductTemplate}Repository {

    Uni<${nameProductTemplate}Entity> create(${nameProductTemplate}Entity entity);

    Uni<${nameProductTemplate}Entity> getById(Long id);

    Uni<${nameProductTemplate}Entity> update(${nameProductTemplate}Entity entity);

    Uni<Boolean> delete(Long id);
}