#set ($nameTemplate = ${this.mangleTypeIdentifier($template.getName())})
#set ($nameProduct = ${this.mangleTypeIdentifier($template.getProductName())})
#set ($nameProductTemplate = ${nameProduct}+${nameTemplate})
#set ($nameTemplateLowerCase = ${this.toLowerCase($nameTemplate)})
#set ($nameProductLowerCase = ${this.toLowerCase($nameProduct)})
#set ($nameProductTemplateLowerCase = ${nameProductLowerCase}+${nameTemplateLowerCase})
package ${this.mangle($template.getPackageName())}.${nameProductLowerCase}.${nameTemplateLowerCase}.repository.reactive.panache;

import io.samancore.common.error.message.TechnicalExceptionsEnum;
import io.samancore.common.error.util.ExceptionHandler;

import ${this.mangle($template.getPackageName())}.${nameProductLowerCase}.${nameTemplateLowerCase}.repository.${nameProductTemplate}Repository;
import ${this.mangle($template.getPackageName())}.${nameProductLowerCase}.${nameTemplateLowerCase}.entity.${nameProductTemplate}Entity;
import io.smallrye.mutiny.Uni;
import io.quarkus.hibernate.reactive.panache.PanacheRepositoryBase;
import ${this.mangle($template.getPackageName())}.${nameProductLowerCase}.${nameTemplateLowerCase}.transformer.${nameProductTemplate}Transformer;

import javax.inject.Inject;
import javax.enterprise.context.ApplicationScoped;
import javax.ws.rs.NotFoundException;

@ApplicationScoped
public class ${nameProductTemplate}RepositoryReactivePanache implements PanacheRepositoryBase<${nameProductTemplate}Entity, Long>, ${nameProductTemplate}Repository {

    @Inject
    ${nameProductTemplate}Transformer transformer;

    @Override
    public Uni<${nameProductTemplate}Entity> create(${nameProductTemplate}Entity entity) {
        entity.setId(null);
        return persistAndFlush(entity)
        .onFailure().transform(e -> ExceptionHandler.throwNotFoundOrLocal(TechnicalExceptionsEnum.REPOSITORY_ERROR,e));
    }

    @Override
    public Uni<${nameProductTemplate}Entity> getById(Long id) {
        return findById(id)
        .onFailure().transform(e -> ExceptionHandler.throwNotFoundOrLocal(TechnicalExceptionsEnum.REPOSITORY_ERROR,e))
        .onItem().ifNull().failWith(NotFoundException::new);
    }

    @Override
    public Uni<${nameProductTemplate}Entity> update(${nameProductTemplate}Entity entity) {
        return getById(entity.getId())
        .onItem().transform(attached -> transformer.copyToAttached(entity, attached))
        .onItem().transformToUni(this::persistAndFlush)
        .onFailure().transform(e -> ExceptionHandler.throwNotFoundOrLocal(TechnicalExceptionsEnum.REPOSITORY_ERROR,e));
    }

    @Override
    public Uni<Boolean> delete(Long id) {
        return deleteById(id)
        .onItem().call(this::flush)
        .onFailure().transform(e -> ExceptionHandler.throwNotFoundOrLocal(TechnicalExceptionsEnum.REPOSITORY_ERROR,e));
    }
}