package ${template.getPackageNameFormatted()}.${template.getProductNameFormattedLowerCase()}.${template.getNameFormattedLowerCase()}.repository;

import io.smallrye.mutiny.Uni;
import ${template.getPackageNameFormatted()}.${template.getProductNameFormattedLowerCase()}.${template.getNameFormattedLowerCase()}.entity.${template.getNameFormatted()}Entity;
import ${template.getPackageNameFormatted()}.${template.getProductNameFormattedLowerCase()}.${template.getNameFormattedLowerCase()}.model.${template.getNameFormatted()}RequestParameter;
import io.samancore.common.model.PageData;
import io.samancore.common.page.PageRequest;

public interface ${template.getNameFormatted()}Repository {

    Uni<${template.getNameFormatted()}Entity> create(${template.getNameFormatted()}Entity entity);

    Uni<${template.getNameFormatted()}Entity> getById(Long id);

    Uni<${template.getNameFormatted()}Entity> update(${template.getNameFormatted()}Entity entity);

    Uni<Boolean> delete(Long id);

    Uni<PageData<${template.getNameFormatted()}Entity>> getAllByPage(${template.getNameFormatted()}RequestParameter requestParameter, PageRequest pageRequest);
}