#set ($nameTemplate = ${this.mangleTypeIdentifier($template.getName())})
#set ($nameProduct = ${this.mangleTypeIdentifier($template.getProductName())})
#set ($nameTemplateLowerCase = ${this.toLowerCase($nameTemplate)})
#set ($nameProductLowerCase = ${this.toLowerCase($nameProduct)})
package ${this.mangle($template.getPackageName())}.${nameProductLowerCase}.${nameTemplateLowerCase}.service;

import ${template.getPackageName()}.${nameProductLowerCase}.${nameTemplateLowerCase}.model.${nameTemplate}Model;
import io.smallrye.mutiny.Uni;

public interface ${nameTemplate}Service {

    Uni<${nameTemplate}Model> getById(Long id);

    Uni<${nameTemplate}Model> create(${nameTemplate}Model model);

    Uni<${nameTemplate}Model> update(${nameTemplate}Model model);

    Uni<Boolean> deleteById(Long id);
}