#set ($nameTemplate = ${this.mangleTypeIdentifier($template.getName())})
#set ($nameProduct = ${this.mangleTypeIdentifier($template.getProductName())})
#set ($nameProductTemplate = ${nameProduct}+${nameTemplate})
#set ($nameTemplateLowerCase = ${this.toLowerCase($nameTemplate)})
#set ($nameProductLowerCase = ${this.toLowerCase($nameProduct)})
#set ($nameProductTemplateLowerCase = ${nameProductLowerCase}+${nameTemplateLowerCase})
package ${this.mangle($template.getPackageName())}.${nameProductLowerCase}.${nameTemplateLowerCase}.transformer;

import org.jboss.logging.Logger;
import io.samancore.common.transformer.GenericTransformer;
import io.samancore.common.error.message.TechnicalExceptionsEnum;
import ${this.mangle($template.getPackageName())}.${nameProductLowerCase}.${nameTemplateLowerCase}.entity.${nameProductTemplate}Entity;
import ${this.mangle($template.getPackageName())}.${nameProductLowerCase}.${nameTemplateLowerCase}.model.${nameProductTemplate}Model;

import io.samancore.common.error.util.ExceptionHandler;
import javax.enterprise.context.ApplicationScoped;
import javax.inject.Inject;

@ApplicationScoped
public class  ${nameProductTemplate}Transformer extends GenericTransformer<${nameProductTemplate}Entity, ${nameProductTemplate}Model> {

    @Inject
    Logger log;

    public ${nameProductTemplate}Entity toEntity(${nameProductTemplate}Model model) {
        try {
            log.debugf("${nameProductTemplate}Transformer.toEntity model: %s", model);
            return transformToEntity(model);
        } catch (Exception e) {
            log.error(e.getMessage(), e);
            throw ExceptionHandler.throwNotFoundOrLocal(TechnicalExceptionsEnum.TRANSFORMER_OBJECT_ERROR, e);
        }
    }

    public ${nameProductTemplate}Model toModel(${nameProductTemplate}Entity entity) {
        try {
            log.debugf("${nameProductTemplate}Transformer.toModel entity: %s", entity);
            return transformToModel(entity);
        } catch (Exception e) {
        log.error(e.getMessage(), e);
        throw ExceptionHandler.throwNotFoundOrLocal(TechnicalExceptionsEnum.TRANSFORMER_OBJECT_ERROR, e);
        }
    }

    public ${nameProductTemplate}Entity copyToAttached(${nameProductTemplate}Entity detached, ${nameProductTemplate}Entity attached) {
        try {
            log.debugf("${nameProductTemplate}Transformer.copyToAttached");
            return transformCopyToAttached(detached, attached);
        } catch (Exception e) {
            log.error(e.getMessage(), e);
            throw ExceptionHandler.throwNotFoundOrLocal(TechnicalExceptionsEnum.TRANSFORMER_OBJECT_ERROR, e);
        }
    }
}